anyio==3.6.2
awswrangler==3.0.0
boto3==1.26.129
botocore==1.29.129
click==8.1.3
fastapi==0.95.1
h11==0.14.0
idna==3.4
jmespath==1.0.1
loguru==0.7.0
numpy==1.24.3
pandas==1.5.3
pyarrow==12.0.0
pydantic==1.10.7
python-baseconv==1.2.2
python-dateutil==2.8.2
python-ulid==1.1.0
pytz==2023.3
s3transfer==0.6.1
six==1.16.0
sniffio==1.3.0
starlette==0.26.1
svix-ksuid==0.6.0
typing_extensions==4.5.0
urllib3==1.26.15
uvicorn==0.22.0
